html,
body {
	display: block;
	margin: 0;
	min-height: 100%;
	height: 100%;
	font-family: 'Segoe UI', 'Ubuntu', sans-serif;
}
html {
}
* {
	max-height: 9999999px;
}

main {
	display: flex;
	flex-direction: column;
}
main > * {
	box-sizing: border-box;
}



#chessBoard {
	display: block;
	width: 100%;
	border: none;
	margin: 0 auto;
	padding: 0;
	position: sticky;
	top: 0;
	border-radius: 0;
	box-shadow: rgba(0,0,0, 0.1) 0 0 2px, rgba(0,0,0, 0.1) 0 0 30px;
	z-index: 2;
}

#chessHistory {
	margin: 0;
	padding: 1em;
	border: none;
	padding: 1em;
}

#chessHistory:focus,
#chessHistory [data-type="move"] > button:first-child:focus {
	outline: none;
}

#chessHistory [data-type="move"] > button:first-child {
	background: none;
	border: transparent 2px solid;
	border-radius: 3px;
	padding: 0.2em 0.5em;
	background: #0001;
	cursor: pointer;
	line-height: 1.5em;
	font-family: monospace;
}
#chessHistory [data-type="comment"] {
	font-style: italic;
	color: #000c;
}
#chessHistory [data-type="history"] {
	display: inline-block;
	padding: 0.5em 0 0 0.5em;
	margin: 0.5em 0 0.5em 0;
}
#chessHistory [data-type="move"] > button:first-child,
#chessHistory [data-type="comment"] {
	margin: 0 0.5em 0.5em 0;
}
#chessHistory[data-type="history"] [data-type="history"],
#chessHistory [data-type="history"] [data-type="history"] {
	display: block;
	background: #0001;
	border-left: #ccc 2px solid;
}
#chessHistory [data-type] > button:first-child {
	opacity: 0.7;
}
#chessHistory [data-type].active > button:first-child {
	opacity: 1;
	border-color: #46a;
}
#chessHistory [data-type].altered > button:first-child {
	opacity: 1;
	border-color: #ccc;
}
#chessHistory [data-type="move"].selected > button:first-child {
	border-color: #f60;
}
#chessHistory > [data-type="move"] > button:first-child {
	font-weight: bold;
}


@media all and (min-aspect-ratio: 9/11) {
	main {
		flex-direction: row;
		align-items: flex-start;
		align-items: center;
		height: 100%;
	}
	main > * {
		flex: 1 1 50%;
		max-height: 100%;
		overflow: auto;
	}
	#chessBoard {
		box-shadow: none;
		height: 100%;
	}
	#chessHistory {
		/*max-height: 100%;*/
		/*overflow: auto;*/
		/*padding: 0.5em 0.5em 0.25em;*/
	}
}
